body{
    background: url(../images/Safari-Animals-Powerpoint-Background.png);
}

p{
   text-align: center;
   font-family: 'Indie Flower', cursive;
   font-size: 60px;
   font-weight: bold;
   margin: 45px 0px 0px 0px

}

#start{
    font-family: "sans-serif";
    font-size: 24px;
    padding: 50px 0px 12px;
    border-radius: 50px;
    margin: 75px 200px 0px 200px;
    background: white;
    text-align: center;
}

#welcome{
    font-family: "sans-serif";
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: black;
    padding: 2px 0px;
    border-radius: 50px;

}
.scoreboard{
    font-family: "sans-serif";
    font-size: 24px;
    text-align: left;
    color: white;
    padding: 5px 50px 5px 25px;
    margin-left: 200px
    

}

.question{
    font-family: "sans-serif";
    background-color: white;
    font-size: 24px;
    text-align: center;
    color: black;
    padding: 2px 0px;
    border-radius: 50px;
    height: auto;
    width: auto;
}

.answerChoices{
    font-family: "sans-serif";
    background-color: cornflowerblue;
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 2px 0px;
    border-radius: 50px;
    height: auto;
    width: auto;
}
.playerResponse{
    font-family: "sans-serif";
    font-size: 16px;
    text-align: left;
    color: black;
    padding: 20px;
    height: auto;
    width: auto;
}

#gif{
    text-align: center;

}
.startButton{
    font-family: "sans-serif";
    background-color: burlywood;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 200px;
    padding: 10px 0px 10px;
    border-radius: 50px;
    margin: 0% 0% 0% 43%;
    
}

.startButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.wrapper{
    font-family: "sans-serif";
    font-size: 24px;
    padding: 50px 0px 12px;
    border-radius: 50px;
    margin: 75px 200px 0px 200px;
    background: white;
    text-align: center;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    padding: 32px 16px;
  }
  
  .button:hover {
    background-color:rgb(122, 122, 129); 
    color: white;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }








/* p{
    font-family: 'Indie Flower', cursive;
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    margin: 25px;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 1080px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;    
}
.container{
width: 900px;
height: 900px;
margin: 0 auto;
background-color: #fff;
padding: 10px 50px 50px 50px;
border-radius: 1080px;
border: 2px solid #cbcbcb;
box-shadow: 10px 15px 5px #cbcbcb;
}

#welcome{
    font-family: "sans-serif";
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: black;
    padding: 2px 0px;
    border-radius: 50px;
}

.button{
    
} */

/* .score .timer {
    color: #5A6772;
    text-align: center;
    font-size: 30px;
} */

/* .container #question {
    font-family: "monospace";
    font-size: 30px;
    color: #5A6772;
} */
/* 
.button {
    margin-top: 30px;
} */

/* #button0, #button1, #button2, #button3 {
    background-color: #778897;
    height: 25px;
    width: 300px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px;
    padding: 10px 10px;
} */

/* #button0:hover, #button1:hover, #button2:hover, #button3:hover {
    cursor: pointer;
    background-color: #57636e;
} */

/* #button0:focus, #button1:focus, #button2:focus, #button3:focus {
    outline: 0;
} */

/* .counter {
    color: #2b2b2b;
    font-size: 20px;
} */ 

/* .container{
    background: url(../images/Safari-Animals-Powerpoint-Background.png);
    font-family: sans-serif;
    font-size: 25px;
    float: center;
}

#welcome{
    background:white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
    color: black;
    box-align: center;
    text-align: left;
    margin-bottom: 60px;
}

#question{
    font-size: 25px;
    color: rgb(29, 141, 233);
    border: 2px white;
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}
h1{
    font-size: 54px;
}
.timer{
}

.button{
    margin: 20px;
    font-size: 12px;
}